// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.active a {
    color: #d63384;
    text-decoration: none;
}

a:link {
    color: blue;
    text-decoration: none;
}


